
/* // -------------------------------------------------------- -> */
.fade-appear {
    opacity: 0;
}
.fade-appear.fade-enter-appear {
    opacity: 1;
    transition: opacity 150ms ease-out; 
}
.fade-enter {
    opacity: 0;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 100ms ease-out 200ms; 
}
.fade-exit {
    display: none;
}
.fade-exit.fade-exit-done {
    display: none;
}

/* // -------------------------------------------------------- -> */

.slideIn-appear {
    transform: translateY(100%);
    opacity: 0;
    overflow: hidden;
    overflow-y: hidden;

  }
.slideIn-appear-active {
    transform: translateY(0);
    opacity: 1;
    overflow: visible;
    overflow-y: visible;
    transition: transform 150ms ease, opacity 150ms ease, overflow 150ms ease, overflow-y 150ms ease;
}